<div class="second-section">
	<div class="h1-block">
		<div class="text-wrapper">
			<h1 class="h1-text-block">- LATEST INSTAGRAM SHOTS</h1>
			<h1 class="h1-text-block">GO TO OUR INSTAGRAM PAGE -</h1>
		</div>
		<div class="second-block">
			<img alt="first-img-second-block"
			     class="second-block__img"
			     height="285px"
			     src="@img/post1.png"
			     width="285px"
			>
			<img alt="second-img-second-block"
			     class="second-block__img"
			     height="285px"
			     src="@img/post2.png"
			     width="285px">
			<img alt="third-img-second-block"
			     class="second-block__img"
			     height="285px"
			     src="@img/post3.png"
			     width="285px"
			>
			<img alt="fourth-img-second-block"
			     class="second-block__img"
			     height="285px"
			     src="@img/post4.png"
			     width="285px"
			>
		</div>
	</div>
</div>