<div class="first-section">
	<img alt="intro-img" class="intro-img" height="550px" src="@img/intro-img.png" width="1170px">
	<h1 class="h1-first-block">- OUR RECENT POSTS</h1>
	<div class="first-block">
		<div class="first-block__card-content">
			<img alt="first-img-first-block"
			     class="first-block__img"
			     height="140px"
			     src="@img/post-img1.png"
			     width="160px"
			>
			<div class="first-block__text-content">
				<h2 class="first-block__h2">
					<a class="first-block__link" href="">
						Aenean Adipiscing Etiam Vestibulum
					</a>
				</h2>
				<span class="first-block__span">
                Photography, Journal   /
                <a class="first-block__span-link" href="">9 Comments</a>
            </span>
				<p class="first-block__p">
					Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia
					quam venenatis vestibulum.
				</p>
			</div>
		</div>
		<div class="first-block__card-content">
			<img alt="second-img-first-block"
			     class="first-block__img"
			     height="140px"
			     src="@img/post-img2.png"
			     width="160px"
			>
			<div class="first-block__text-content">
				<h2 class="first-block__h2">
					<a class="first-block__link" href="">
						Aenean Adipiscing Etiam Vestibulum
					</a>
				</h2>
				<span class="first-block__span">
                Photography, Journal   /
                <a class="first-block__span-link" href="">9 Comments</a>
            </span>
				<p class="first-block__p">
					Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia
					quam venenatis vestibulum.
				</p>
			</div>
		</div>
		<div class="first-block__card-content">
			<img alt="third-img-first-block"
			     class="first-block__img"
			     height="140px"
			     src="@img/post-img3.png"
			     width="160px"
			>
			<div class="first-block__text-content">
				<h2 class="first-block__h2">
					<a class="first-block__link" href="">
						Aenean Adipiscing Etiam Vestibulum
					</a>
				</h2>
				<span class="first-block__span">
                Photography, Journal   /
                <a class="first-block__span-link" href="">9 Comments</a>
            </span>
				<p class="first-block__p">
					Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia
					quam venenatis vestibulum.
				</p>
			</div>
		</div>
		<div class="first-block__card-content">
			<img alt="fourth-img-first-block"
			     class="first-block__img"
			     height="140px"
			     src="@img/post-img4.png"
			     width="160px"
			>
			<div class="first-block__text-content">
				<h2 class="first-block__h2">
					<a class="first-block__link" href="">
						Aenean Adipiscing Etiam Vestibulum
					</a>
				</h2>
				<span class="first-block__span">
                Photography, Journal   /
                <a class="first-block__span-link" href="">9 Comments</a>
            </span>
				<p class="first-block__p">
					Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia
					quam venenatis vestibulum.
				</p>
			</div>
		</div>
	</div>
</div>
