<footer class="footer">
	<h1 class="footer__text-h1">- GET IN TOUCH WITH US -</h1>


	<p class="footer__text-block decoration">
		Maecenas faucibus molli interdum.
		Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio.
		Curabitur blandit tempus porttitor vollisky inceptos mollisestor.
	</p>
	<p class="footer__text-block-320 decoration">
		Maecenas faucibus molli interdum.
		Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio.
	</p>
	<div class="footer__social-media">
		<a class="footer__rss" href="#">
			<img alt="rss" class="footer__media-logo" src="@img/rss.png">
		</a>
		<a class="footer__facebook" href="#">
			<img alt="facebook" class="footer__media-logo" src="@img/facebook.png">
		</a>
		<a class="footer__twitter" href="#">
			<img alt="twitter" class="footer__media-logo" src="@img/twitter.png">
		</a>
		<a class="footer__dribble" href="#">
			<img alt="dribble" class="footer__media-logo" src="@img/dribbble.png">
		</a>
		<a class="footer__pinterest" href="#">
			<img alt="pinterest" class="footer__media-logo" src="@img/pinterest.png">
		</a>
	</div>
	<p class="footer__contacts decoration">Moonshine St. 14-05 Light City &nbsp; / &nbsp; T. +00 (123) 456 78 90 &nbsp; / &nbsp; first.last@email.com
	</p>
	<p class="footer__contacts-320 decoration"> Moonshine St. 14-05 Light City &nbsp; / <br>T. +00 (123) 456 78 90 &nbsp; / <br>first.last@email.com
	</p>
</footer>
