<header class="header">
	<div class="header__content">
		<div class="header__menu menu">
			<div class="menu__icon icon-menu">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<nav class="menu__body">
				<ul class="menu__list">
					<li class="menu__hover">
						<a class="menu__link _active" href="">HOME</a>
					</li>
					<li class="menu__hover">
						<a class="menu__link" href="">ABOUT US</a>
					</li>
					<li class="menu__hover">
						<a class="menu__link" href="">OUR JOURNAL</a>
					</li>
					<li class="menu__hover">
						<a class="menu__link" href="">PROJECTS</a>
					</li>
					<li class="menu__hover">
						<a class="menu__link" href="">NEWS</a>
					</li>
					<li class="menu__hover">
						<a class="menu__link" href="">FEATURES</a>
					</li>
					<li class="menu__hover">
						<a class="menu__link" href="">CONTACT</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>