.first-section {
  max-width: $md1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-img {
  transition: 2s;

  @media (max-width: ($md3+px)) {
    transition: 2s;
    width: 768px;
    height: 361px;
  }

  @media (max-width: ($md2+px)) {
    transition: 2s;
    position: relative;
    width: 320px;
    height: 150px;
  }
}

.h1-first-block {
  transform: translateX(-286%);
  font-weight: 700;
  font-size: 16px;
  padding-top: 66px;

  @media (max-width: ($md3 + px)) {
    font-size: 14px;
    padding-top: 56px;
    transform: translateX(-200%);
  }

  @media (max-width: ($md2 + px)) {
    font-size: 14px;
    padding-top: 38px;
    transform: translateX(-55%);
  }
}

.first-block {
  width: 1170px;

  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-top: 24px;
  padding-bottom: 69px;

  @media (max-width: ($md3+px)) {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-bottom: 39.5px;
    transform: translateX(-8.5%);
  }

  @media (max-width: ($md2+px)) {
    transform: translateX(-3%);
  }

  &__card-content {
    display: flex;
    gap: 21px;
    max-width: 565px;

    @media (max-width: ($md2 + px)) {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 11px;
    }
  }

  &__text-content {

  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    text-decoration: none;
    color: #4E4E4E;

    @media (max-width: ($md2 + px)) {
      font-size: 14px;
    }
  }

  &__span {
    font-size: 12px;
    line-height: 20px;

    color: #7C7C7C;

    @media (max-width: ($md2 + px)) {
      font-size: 11px;
    }
  }

  &__span-link {
    font-size: 12px;
    line-height: 20px;

    text-decoration: none;
    color: #7C7C7C;

    @media (max-width: ($md2 + px)) {
      font-size: 11px;
    }
  }

  &__p {
    font-size: 14px;
    line-height: 26px;

    color: #5C5C5C;

    @media (max-width: ($md2 + px)) {
      display: none;
    }
  }
}
