.footer {
  background-color: #000000;
  color: #B9B9B9;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__text-block-320 {
    display: none;

    @media (max-width: ($md2+px)) {
      display: block;
      font-size: 12px;
      margin-bottom: 26px;
    }
  }

  &__contacts-320 {
    display: none;

    @media (max-width: ($md2+px)) {
      display: block;
      font-size: 14px;
      line-height: 24px;

      margin-bottom: 47px;
      margin-top: 25px;
    }
  }

  &__text-h1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    color: #FEFEFE;

    margin-top: 66px;
    margin-bottom: 22px;

    @media (max-width: ($md3+px)) {
      margin-top: 57px;
    }

    @media (max-width: ($md2+px)) {
      font-size: 14px;
      margin-bottom: 8px;
      margin-top: 38px;
    }
  }

  &__text-block {
    margin-bottom: 37px;

    @media (max-width: ($md2+px)) {
      display: none;
    }
  }

  &__social-media {
    display: flex;
    gap: 6px;
    justify-content: space-between;
  }

  &__contacts {
    margin-bottom: 70px;
    margin-top: 35px;

    @media (max-width: ($md3+px)) {
      margin-bottom: 56px;
    }

    @media (max-width: ($md2+px)) {
      display: none;
    }
  }

  &__rss {
    width: 34px;
    height: 34px;
    border: 2px solid #F8902E;
    border-radius: 34px;
    padding: 10px;
  }

  &__facebook {
    width: 34px;
    height: 34px;
    border: 2px solid #39599F;
    border-radius: 34px;
    padding: 10px;
  }

  &__twitter {
    width: 34px;
    height: 34px;
    border: 2px solid #45B0E3;
    border-radius: 34px;
    padding: 10px;
  }

  &__dribble {
    width: 34px;
    height: 34px;
    border: 2px solid #D97AB0;
    border-radius: 34px;
    padding: 10px;
  }

  &__pinterest {
    width: 34px;
    height: 34px;
    border: 2px solid #CC212C;
    border-radius: 34px;
    padding: 10px;
  }
}

.decoration {
  width: 684px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  @media (max-width: ($md2+px)) {
    width: 305px;
  }
}