.header {
  position: relative;
  z-index: 100;

  &__content {
    max-width: 815px;
    margin: 0 auto;
    list-style-type: none;
    text-decoration: none;
  }

  &__menu {
    margin: 45px 0 51px;
    max-width: 100%;

    display: flex;
    justify-content: center;

    @media (max-width: ($md3+px)) {
      margin: 41px 0 43px;
    }
  }
}

.menu {
  &__body {
    @media (max-width: ($md2+px)) {
      opacity: 0;

      position: fixed;
      top: 60px;
      right: 28px;

      width: 182px;
      height: 210px;

      overflow: auto;
      background-color: #F5F5F5;

      &._active {
        opacity: 100;
      }
    }
  }

  &__list {
    display: flex;
    gap: 64px;
    justify-content: center;

    @media (max-width: ($md3+px)){
      gap: 34px;
      display: flex;
      justify-content: center;
    }

    @media (max-width: ($md2+px)){
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }

  &__link {
    font-size: 11px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 1.1px;
    color: #4E4E4E;

    list-style-type: none;
    text-decoration: none;

    &._active {
      color: #57A4A4;
    }

    @media (max-width: ($md2+px)) {
      font-size: 11px;
      line-height: 11px;

      display: block;
      text-align: left;
      padding-left: 12px;
      padding-top: 9.5px;
      padding-bottom: 9.5px;

      &:hover {
        background-color: #E5E5E5;
      }
    }
  }
}

// line to cross
.icon-menu {
  display: none;

  @media (max-width: ($md2+px)) {
    display: block;
    position: fixed;
    top: 23px;
    right: 28px;

    width: 44px;
    height: 37px;
    margin-bottom: 23px;

    background-color: #000000;

    cursor: pointer;
    z-index: 5;

    span  {
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 13px;

      position: absolute;
      width: 17px;
      height: 2px;
      background-color: #FFFFFF;

      &:first-child {
        top: 13px;
      }

      &:last-child {
        top: auto;
        bottom: 13px;
      }
    }

    &._active {
      span {
        transform: scale(0);

        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }

        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }
}