.second-section {
  max-width: 100%;
}

.h1-block {
  display: flex;
  flex-direction: column;
}

.text-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 47px;
  padding-bottom: 24px;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  @media (max-width: ($md2 + px)) {
    padding-top: 38px;
    padding-bottom: 13px;
  }
}

.h1-text-block {
  font-size: 16px;
  font-weight: 700;
}

.h1-text-block:nth-child(2) {
  @media (max-width: ($md2 + px)) {
    display: none;
  }
}

.h1-text-block:nth-child(1) {
  @media (max-width: ($md2 + px)) {
    font-size: 14px;
    transform: translateX(-4%);
  }
}

.second-block {
  display: flex;
  gap: 10px;
  @media (max-width: ($md3 + px)) {
    &__img:nth-last-child(1) {
      display: none;
    }
    &__img:nth-child(-n+3) {
      width: 249px;
      height: 249px;
    }
    &__img:nth-child(1) {
      border-left: 10px solid transparent;
    }
    &__img:nth-child(3) {
      border-right: 10px solid transparent;
    }
  }
  @media (max-width: ($md2 + px)) {
    &__img:nth-last-child(-n + 3) {
      display: none;
    }
  }
  @media (max-width: ($md2 + px)) {
    &__img:nth-child(1) {
      width: 301px;
      height: 301px;
      transform: translateX(-5%);
    }
  }

  &__img {
    padding-bottom: 49px;
    @media (max-width: ($md2 + px)) {
      padding-bottom: 42px;
    }
  }
}

