@import "_variables";
@import "_mixins";
@import "_header";
@import "_first-section";
@import "_second-section";
@import "_footer";

//@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Basic styles
.content {
  max-width: 100%;
  @include fonts();

  background-color: $backgroundcolor;
}

.wrapper-header {
  min-height: 100%;
  min-width: 320px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-first-section {
  min-height: 100%;
  max-width: 100%;
  min-width: 320px;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-second-section {
  min-height: 100%;
  max-width: 100%;
  min-width: 320px;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #F7F7F7;

  @media (max-width: ($md2 + px)) {
    background-color: $backgroundcolor;
  }
}